* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.heading {
  font-size: 30px;
  color: red;
  text-align: center;
  font-family: sans-serif;
  margin: 20px 0 0 0;
}

.file {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  flex-direction: column;
  gap: 20px;
}

button {
  background-color: black;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.img {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100vw;
}

img {
  width: 120px;
  height: 120px;
}